<head>About</head>

<body>
  <header>
    <div class="container">
      <span>Bookers</span>
    </div>
  </header>
  <main>
   <div class="container">
     <div class="row">
       <h1>"Welcome to "
        <i class="fas fa-book" aria-hidden="true">
          </i>
       <strong>Bookers</strong>
       "!"
       </h1>
       </div>
       </main>
<footer>
  <div class="row">
    <p>
      CopyRight Infratop.inc</p>
    </p>
  </div>
</body>